%center 
  = form_for(@user) do |f|
    .field
      = f.label :name
      %br
        = f.text_field :name
    .field
      = f.label :email
      %br
        = f.text_field :email
    .field
      = f.label :Password
      %br
        = f.password_field :password
    .field
      = f.label :password_confirmation
      %br
        = f.password_field :password_confirmation
        %br
        
    .field
    = f.label :gender, "Gender"
    = f.select :gender, ["Male","Femenine"]
    %br
    .field
    = f.label :country, "Country"
    = f.collection_select :country_id, Country.order(:name), :id, :name
    %br
    .actions
      = f.submit
