!!!
%html
  %head
    %title Twitter
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #banner
      %h1 Welcome to Twitter
    #menu
      %ul#nav
        %li= link_to 'Twitter Home', root_path
        %li= link_to 'Tweets', tweets_path
        - if logged_in?
          %li= link_to 'Users', users_path
          %li= link_to 'Country', country_index_path
          %li= link_to "Profile", user_path(current_user)
          %li= link_to "Log out", logout_path, method: :delete
        - else
          %li= link_to "Log in", login_path
    #container
      #content
        = yield
      #content_right
        #content_right
          %dl.curved
            %dt RECOMMENDED LINKS
            %dd
              %br/
              %ul#navlist
                %li
                  %a{:href => "#"} Snapp Happy
                %li
                  %a{:href => "#"} Open Designs
                %li
                  %a{:href => "#"} Andreas Viklund
                %li
                  %a{:href => "#"} James Koster
                %li
                  %a{:href => "#"} CSS play
                %li
                  %a{:href => "#"} Listamatic
              %p.last &nbsp;

  #footer
    %p
    %a{:href => "#"} homepage
    |
    %a{:href => "mailto:denise@mitchinson.net"} contact
    | &copy; 2007 Anyone | Design by
    %a{:href => "http://www.mitchinson.net"} www.mitchinson.net
    | Licensed under a
    %a{:href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license"} Creative Commons Attribution 3.0 License


